
.card-confi-menu{
    width: 977px; 
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #FFE5B1;
    box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.card-container-confi{
    width: 977px; 
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.container-confi-opcion{
    margin-left: 50PX;
    margin-right: 50PX;
}

.confi-text-nemu{
    font-family: Poppins-Medium;
    font-size: 20px;
    margin: 0px;
    color: #000;
    text-decoration: none;
    pointer-events: auto;
    cursor: pointer;
}
.confi-text-title{
    font-family: Poppins-Semibold;
    font-size: 20px;
    margin: 0px;
}
.confi-text-description{
    color: #C3BCBC;
    font-family: Poppins-Light;
    font-size: 20px;
    margin: 0px;
}

.confi-title{
    font-family: Poppins-Semibold;
    margin: 0px;
}

.divider{
    background-color: #FF7600;
    height: 3px;
    width: 977px; 
    margin-bottom: 10px;
}

.config-table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    margin-bottom: 22px;
}

.config-tr-td-table:hover{
    background-color: #FECE6F;
    border: none;
}

.config-text-th{
    font-family: Poppins-Semibold;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    border: none;
}

.config-text-td{
    color: #000000;
    font-family: Poppins-Light;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    border: none;
}

.option-list-confi{
    padding-top: 2px;
    width: 100%;
    height: 25px;
    padding-left: 5px;
}

.option {
    cursor: pointer;
}

.option-list-confi:hover {
    font-family: Poppins-Semibold;
    color: #000;
}

/******************************************************
******************- Inputs Styles -*********************
******************************************************/
.input-label-contacto{
    background-color: #F3F2F2;
    font-family: Monserrat-Medium;
    width: 200px;
    padding: 3px 7px 3px 7px ;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    margin-right: 25px;
}

.input-label-contacto-textarea {
    background-color: #F3F2F2;
    font-family: Monserrat-Medium;
    width: 200px;
    padding: 3px 7px 3px 7px ;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    margin-right: 25px;
}

.container-input-contact{
    justify-content: center;
}

.tooltip{
    width: 100%;
}

.title-input{
    font-family: Poppins-Medium;
    font-size: 17px;
    padding: 5px 0px 5px 0px;
    margin: 0px;
}

.input-proceso{
    margin-left: 22px;
}


/******************************************************
******************- Button Styles -*********************
******************************************************/

.btn-send-load{
    text-decoration: none;
    background-color: #FF7600;
    color: #ffffff;
    border-radius: 8px;
    height: 27px;
    border: 1px;
    font-family: Monserrat-Medium;
    font-size: 17px;
    cursor: pointer;
    padding: 1px 6px 1px 6px ;
    margin: 20px 0px 19px 0px;
    padding: 5px 7px 26px 7px; 
}



.btn-send-execute{
    text-decoration: none;
    background-color: #FF7600;
    color: #ffffff;
    border-radius: 8px;
    height: 27px;
    border: 1px;
    font-family: Monserrat-Medium;
    font-size: 17px;
    cursor: pointer;
    padding: 1px 6px 1px 6px ;
    margin: 20px 0px 19px 0px;
    padding: 5px 7px 26px 7px; 
}


