{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for( 'static', filename='/css/iseverity/configuracion.css' ) }}">
{% endblock %}
{% block content %}
    <div class="card-confi-menu">
        <div class="container-help">
            <div class="flex-row">
                <div class="container-confi-opcion">
                    <li class="option-list-confi"><strong><a class="confi-text-nemu" href="/ISeverity/conf-admin/fuentes">Fuentes</a></strong></li>
                </div>
                <div class="container-confi-opcion">
                    <li class="option-list-confi"><a class="confi-text-nemu" href="/ISeverity/conf-admin/historialuso">Historial de Uso</a></li>
                </div>
                <div class="container-confi-opcion">
                    <li class="option-list-confi"><a class="confi-text-nemu" href="/ISeverity/conf-admin/ejecucionprocesos">Historial de Ejecución de Procesos</a></li>
                </div>
            </div>
        </div>
    </div>
    <div class="card-container-confi">
        <div class="container-title-page">
            <div class="confi-text-title">
              <P>Admisnitras las fuentes</P>
            </div>
            <div class="confi-text-description">
                <P>Puede argegar o eleimanr fuentes de infromacion para el producto de datos que realizara la preddiccion de tu siniestro.</P>
            </div>
            <div>
                <form action="" method="POST" enctype = "multipart/form-data">
                    <div class="flex-row">
                        <div class="tooltip">
                            <p class="title-input">Nombre:</p>
                            <input class="input-label-contacto input-proceso" id="nombre" name="nombre" type="text">
                            <span class="tooltip-text">Nombre</span>
                        </div>
                        <div class="tooltip">
                            <p class="title-input">Fuente:</p>
                            <input class="input-label-contacto input-proceso" id="fuente" name="fuente" type="file">
                            <span class="tooltip-text">Fuente</span>
                        </div>
                    </div>
                    <div class="container-btn-send">
                        <input class="btn-send-load" type="submit" value="Cargar">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class= "card-container-confi">
      <div class="container-title-page">
        <div class="confi-text-title">
            <P>Fuentes</P>
        </div>
        <div class ="divider"></div>
        <table>
            <tr class="confi-text-head-table" >
                <th>Id:</th>
                <th>Nombre Archivo:</th>
                <th>Extension:</th>
                <th>Estado:</th>
                <th>Fecha:</th>
            </tr>
            {% if dataTable %}
                {% for row in dataTable%}
                    <tr class="confi-text-body-table">
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="confi-text-body-table">
                    <td>No hay Datos Disponibles</td>
                </tr>
            {% endif %}
          </table>
      </div>
    </div>       
{% endblock %}


