{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for( 'static', filename='/css/iseverity/configuracion.css' ) }}">
{% endblock %}
{% block content %}
    <div class="card-confi-menu">
        <div class="container-help">
            <div class="flex-row">
                <div class="container-confi-opcion">
                    <li class="option-list-confi"><a class="confi-text-nemu" href="/ISeverity/conf-admin/fuentes">Fuentes</a></li>
                </div>
                <div class="container-confi-opcion">
                    <li class="option-list-confi"><a class="confi-text-nemu" href="/ISeverity/conf-admin/historialuso">Historial de Uso</a></li>
                </div>
                <div class="container-confi-opcion">
                    <li class="option-list-confi"><strong><a class="confi-text-nemu" href="/ISeverity/conf-admin/ejecucionprocesos">Historial de Ejecución de Procesos</a></strong></li>
                </div>
            </div>
        </div>
    </div>
    <div class="card-container-confi">
        <div class="container-title-page">
            <div class="confi-text-title">
              <P>Historial de Ejecución de Procesos</P>
            </div>
            <div class="confi-text-description">
                <P>Cada vez que agreges una fuente nueva o se ejecuquete este procespo para reentrenar el module genera una trazabilidad.</P>
            </div>
            <div>
                <form action="" method="POST">
                    <div class="tooltip">
                        <p class="title-input">Nombre:</p>
                        <input class="input-label-contacto input-proceso" id="nombre" name="nombre" type="text">
                        <span class="tooltip-text">Nombre</span>
                    </div>
                    <div class="container-btn-send">
                        <input class="btn-send-execute" type="submit" value="Ejecutar">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class= "card-container-confi">
        <div class="container-title-page">}
            <div class="confi-text-title">
                <P>Historial de Ejecución de Procesos</P>
            </div>
            <div class ="divider"></div>
            <div>
                <table class="config-table">
                    <tr>
                        <th class="config-text-th">Id:</th>
                        <th class="config-text-th">Nombre:</th>
                        <th class="config-text-th">Estado:</th>
                        <th class="config-text-th">Fecha:</th>
                    </tr>
                    {% if dataTable %}
                        {% for row in dataTable%}
                            <tr class="config-tr-td-table">
                                <td class="config-text-td">{{ row[0] }}</td>
                                <td class="config-text-td">{{ row[1] }}</td>
                                <td class="config-text-td">{{ row[2] }}</td>
                                <td class="config-text-td">{{ row[3] }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td class="config-text-td">No hay Datos Disponibles</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>       
{% endblock %}


